body { background-color: white;
  background-image: url("d2hd73xxwvaa1.jpg");
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

aside {
  grid-column: span 3;
}

aside img {
  width: 100%;
}
nav {
  grid-column: span 2;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
 }

 nav li a {
  display:block;
  padding: 24px;
  text-decoration: none;
 }

main {
  grid-column: span 7;
}

nav li a:hover {
    padding: 10px;
    margin: 20px;
    width: 250px;
    background-color: #5cdfce73;
    box-shadow: 10px 10px 10px #000000; /* x, y, blur, color */
}


nav li a {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

footer {
  grid-column: span 12;
}

