body {
  background-color: #999999;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: bisque;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

aside {
  border: 2px solid black;
  grid-column: span 3;
}

aside img {
  width: 100%;
}
nav {
  grid-column: span 2;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
 }

 nav li {
  border: 1px solid black;

 }

 nav li a {
  display:block;
  padding: 24px;
  text-decoration: none;
 }

main {
  grid-column: span 7;
  border: 2px solid black;
}

footer {
  grid-column: span 12;
  border: 2px solid black;
}

